* {
  margin: 0;
  padding: 0;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: aqua;
  min-height: 100vh;
}

.input-data {
  display: flex;
  flex-direction: row;
}

.input-data__button {
  margin: 10px;
  height: 25px;
  width: 40px;
}

.input-data__input {
  margin: 10px;
  border-radius: 10px;
  padding: 3px;
}

.task-container {
  display: flex;
  margin: 20px;
  background-color: antiquewhite;
  border-radius: 50px;
  width: 300px;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 50px;
  padding: 5px 20px 5px 20px;
}

.text-task {
  font-size: 18px;
  color: black;
  margin-left: 10px;
  word-wrap: break-word;
}

.done-text {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

.container__button {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}

.container__image {
  height: 20px;
  width: 20px;
}

.invalid {
  border-color: red;
}

